 .service-option i.fa {
    padding: auto;
    margin-left: 136.885px;
    margin-top: 75px;
    margin-bottom: 75px;
    color: rgb(0, 123, 255) ;
}


 .fixed_color_option i.fa {
        
    padding: auto;
    margin-left: 13.6885rem;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    color: white;
    
    
   
}