.slider-container
{
    &__header{
        z-index: 2;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 0rem;
                animation: blink 2s 0s infinite;
    }

    
        overflow: hidden;
        .slider-container-box{
            position: relative;
            width: 100%;
            height: 43.8rem;
            z-index: 1;
            
          animation: slide 25s 0s linear infinite;

            &__image{
               
                  position: absolute; 
                    left: 0rem;
                    height: 103.2rem;
                    object-fit: none;

            }

        }
}