//reset the margin and padding
*{
    margin: 0;

}
html
{
    font-size:62.5%;
}
body
{
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none; 
    background-color: #FFFFFF;
}