//the h1 -  
a{
    text-decoration: none;
   
}
ul{
    padding-inline-start:0;
    //row 4 style none 3shan lw bwz ele fe row 4
    list-style: none;
}
span{
    letter-spacing: 0.67px;
    font-weight: 400;
    font-size: 12px;
    color: #6F8BA4;
}
p{
    line-height: 28px;
            letter-spacing: 1px;
            color: #697BA2;
}
h1{
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1.4px;
        margin-bottom: 40px;
}

h3{
    font-weight: 400;
}

